@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root{
    --fw-thin:100;
    --fw-light: 300;
    --fw-regular:400;
    --fw-bold: 700;
    --fw-black:900;
    --cl-eerie-black:#121412;
    --cl-lincol-green:#345B1A;
    --cl-Turquise-green:#B8D8BE;
    --cl-Honeydew:#E0F0E3;
    --cl-Baby-powder:#F6FAF5;
}
*{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
 /* width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-Turquise-green);
    position: fixed; */

 /* Mobile 360 */
/* header  */

.main-header{
    width: 100%;
    height: 80px;
    /* display: flex;
    justify-content: center;
    justify-content: space-around;
    position: fixed; */
    background-color: var(--cl-Turquise-green);
    position: fixed;
  
}

.inner-header{
    border: solid red 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    height: 60px;

    /* display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: calc(100% - 100px);
    width: 100%; */
}
/* logo */
.logo img{
    width: 160px;
    margin-bottom: 13px;
    margin-left: 26px;
}
/* menu icon */
.menu-icon{
    font-size: 21px;
    display: block;
}
/* navbar */
.navbar .list-items{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: var(--cl-Turquise-green);
    top: 100%;
    left: 0;
    width: 43%;
    border-bottom-right-radius: 100px;
    display: block;
    padding: 16px;
    height: 332px;
    
}
.navbar .list-items li{
    padding: 16px;
    text-transform: uppercase;
    margin: 16px;
}
.navbar .list-items li a{
    color: var(--cl-eerie-black);
    font-weight: var(--fw-light);
    position: relative; 
}
.navbar .list-items li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--cl-eerie-black);
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
.list-items li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/* search */
.icon{
    font-size: 21px;
    padding: 8px;
}
 .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--cl-Turquise-green);
    display: flex;
    align-items: center;
    z-index: 999;
    padding: 8px;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
.search-bar-container.active{
     clip-path: polygon(0 0,100% 0,100% 100%,0 100%);  
}
#search-bar{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
}
.search-bar-container .label-icon{
    cursor: pointer;
     border: solid red 2px;
    font-size: 21px;
    margin: 16px
}
.search-bar-container .label-icon:hover{
    color: #F6FAF5;
} 
.search-bar{
     width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: var(--cl-Turquise-green); 
     border-radius: 5px;
    padding: 5px 10px;
    margin: 8px; 
     border: solid red 2px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


/* hero banner */
.hero-banner{
    width: 100%;
    height: 800px;
    background: url(/img/hero-banner-img.jpg) no-repeat bottom / cover;
    /* position: absolute; */
    display: flex;
    align-items: flex-end;
    object-fit: contain;
    
}
.banner-container{
    /* max-width: 60%; */
    width: 380px;
    height: 200px;
    background-color: #345b1aba;
    padding: 20px;
    border-top-right-radius:100px ;
}
.banner-container h1{
    padding: 16px;
    color: #F6FAF5;

}
.banner-container p{
    padding: 16px;
    color: #F6FAF5;
}


/* carousel */
.carousel__image {
    width: 200px;
}
@media  screen and (min-width: 412px){
    .logo img{
        margin-left: 64px;
    }
   
}
@media  screen and (min-width: 636px){
    .logo img{
        margin-left: 110px;
    }
}


/* ipad */
@media  screen and (min-width: 767px) {
    .navbar .list-items{
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: 0%;
        top: 0;
        height: 40px;
        width: 100%;
        margin-right: -30px;
    }
    .navbar .list-items li{
        margin: 0;
        padding: 0 16px;    
    }
    .menu-icon{ 
        display: none;
    }
}
/* desktop */
@media screen and (min-width:1080px) {
    .navbar .list-items li{
        padding: 0 60px;
    }
    .menu-icon{ 
        display: none;
    }
}
